body{
    margin: 0;
    background-color: black;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: rgb(112, 157, 109);
    font-size: 1.3em;
}

.intro{
   color: white;
   background-color: rgba(0, 0, 0, 0.63);
   margin: 10px;
}

.introContainer{
    background-image: url("./images/home-bg.jpeg");
    background-color: hsla(34, 78%, 91%, 0.796);
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerContainer{
    background-image: url('./images/home-bg2.jpg');
    height: 350px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialBanner{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.519);
}

.specialBannerText1{
    font-size: 2em;
    font-weight: bolder;
}

.specialBannerText2{
    font-size: 1.3em;
}

.menu-button{
    color: white;
    background-color:rgb(91, 127, 89);
    padding: 10px;
    margin-top: 10px;
}

.menu-title{
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 30px;
    background-color: rgb(152, 167, 115);
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.alfredo1{
    background-image: url('../src/images/alfredo1.webp');
    width: 575px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.alfredo2{
    background-image: url('../src/images/alfredo2.webp');
    width: 575px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.alfredo3{
    background-image: url('../src/images/alfredo3.webp');
    width: 575px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.alfredo4{
    background-image: url('../src/images/alfredo4.webp');
    width: 575px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.alfredo1Text, .alfredo2Text, .alfredo3Text, .alfredo4Text{
    background-color: rgba(0, 0, 0, 0.522);
    padding: 20px;
}